* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.blocks {
  display: flex;
  margin-left: 65px;
}
.block {
  width: 200px;
  height: 200px;
  margin: 40px;
  background: #777;
}
button {
  background: rgb(110, 56, 211);
  color: #fff;
  border: none;
  padding: 15px;
}
